body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url("myBackgroundImage.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
    }
    
    header {
      background-color:rgba(241, 177, 94, 0.774);
      color: antiquewhite;
      padding: 20px;
    }
    
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    
    nav li {
      display: inline-block;
      margin-right: 20px;
    }
    
    nav a {
      color:antiquewhite;
      text-decoration: none;
    }
    
    nav a:hover{
      background-color: brown;
      color:black;
    }
    
    main {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color:rgba(241, 177, 94, 0.774);
    }
    
    section {
      margin-bottom: 30px;
    }
    
    h2 {
      text-align: center;
      margin-top: 30px;
      color:antiquewhite;
    }
    
    
    form label {
      display: block;
      margin-bottom: 10px;
      color:antiquewhite;
    }
    
    form input,
    form textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 20px;
      border: none;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    form button {
      background-color: brown;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    
    form button:hover {
      background-color: burlywood;
    }
